{{#if isEmpty}}
    <p>Nothing in the cart!</p>
{{else}}
{{#each cartArr}} 
   <p> {{name}} - {{quantity}} - {{unitPrice}}</p>
   <br>

{{/each}}
   <p>Total Amount : {{totalAmount}}</p>
   <form action="/checkout" method="POST">
        <input type="hidden" id="totalAmount" name="totalAmount" value="{{totalAmount}}"/>
        <button type="submit" class="btn btn-primary">Checkout</button>
    </form>
{{/if}}